<kendo-grid [data]="gridData">
  <kendo-grid-column field="portfolio" title="Portfolio" width="100" [style]="{'font-size': '9px','line-height': '1em'}"></kendo-grid-column>
  <kendo-grid-column field="legType" title="Leg Type" width="120" [style]="{'font-size': '9px','line-height': '1em'}"></kendo-grid-column>
  <kendo-grid-column field="nominal" title="Nominal" width="100" format="{0:n0}" [style]="{'text-align': 'right'}"></kendo-grid-column>
  <kendo-grid-column field="totalValueUsd" title="Total Value USD" width="100" format="{0:n0}" [style]="{'text-align': 'right'}"></kendo-grid-column>
  <kendo-grid-column field="totalValueUsd1d" title="Total Value USD 1d" width="120" format="{0:n0}" [style]="{'text-align': 'right'}"></kendo-grid-column>
  <kendo-grid-column field="totalValueUsd1dActual" title="Total Value USD 1d Actual" width="150" format="{0:n0}" [style]="{'text-align': 'right'}"></kendo-grid-column>
  <kendo-grid-column field="totalValueUsdChange" title="Total Value USD Change" width="140" format="{0:P5}" [style]="{'text-align': 'right'}"></kendo-grid-column>
  <kendo-grid-column field="portfolioNavCustom" title="Portfolio Nav Custom" width="120" format="{0:n0}" [style]="{'text-align': 'right'}"></kendo-grid-column>
  <kendo-grid-column field="portfolioNav1dCustom" title="Portfolio Nav 1d Custom" width="140" format="{0:n0}" [style]="{'text-align': 'right'}"></kendo-grid-column>
  <kendo-grid-column field="portfolioNav" title="Portfolio Nav" width="100" format="{0:n0}" [style]="{'text-align': 'right'}"></kendo-grid-column>
  <kendo-grid-column field="portfolioNav1d" title="Portfolio Nav 1d" width="100" format="{0:n0}" [style]="{'text-align': 'right'}"></kendo-grid-column>
  <kendo-grid-column field="shareOfNav" title="Share Of Nav" width="100" format="{0:P5}" [style]="{'text-align': 'right'}"></kendo-grid-column>
  <kendo-grid-column field="shareOfNav1d" title="Share Of Nav 1d" width="100" format="{0:P5}" [style]="{'text-align': 'right'}"></kendo-grid-column>
  <kendo-grid-column field="shareOfNavChange" title="Share Of Nav Change" width="120" format="{0:P5}" [style]="{'text-align': 'right'}"></kendo-grid-column>
  <kendo-grid-column field="marketValueImpact" title="Market Value Impact" width="120" format="{0:P10}" [style]="{'text-align': 'right'}"></kendo-grid-column>
  <kendo-grid-column field="dealingDesk" title="Dealing Desk" width="160" [style]="{'font-size': '9px','line-height': '1em'}"></kendo-grid-column>
  <kendo-grid-column field="pad" title=""></kendo-grid-column>
</kendo-grid>

