<kendo-grid [data]="gridData">
  <kendo-grid-column field="securityId" title="Security ID" width="100" [style]="{'font-size': '9px','line-height': '1em'}"></kendo-grid-column>
  <kendo-grid-column field="price" title="Price" width="100" format="{0:n5}" [style]="{'text-align': 'right'}"></kendo-grid-column>
  <kendo-grid-column field="priceCurrency" title="Price Currency" width="60" [style]="{'font-size': '9px','line-height': '1em'}"></kendo-grid-column>
  <kendo-grid-column field="pricePoint" title="Price Point" width="100" format="{0:dd MMM yyyy}" [style]="{'font-size': '9px','line-height': '1em'}"></kendo-grid-column>
  <kendo-grid-column field="source" title="Source" width="50" [style]="{'font-size': '9px','line-height': '1em'}"></kendo-grid-column>
  <kendo-grid-column field="pad" title=""></kendo-grid-column>
</kendo-grid>

